<nav class="navbar navbar-inverse navbar-fixed-top" >
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand psfont" href="#" style="font-size: 1.3em;">RILIEVI SCOUT</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="border-top:0px;">
      <ul class="nav navbar-nav navbar-right">

        <li ng-if="false" ui-sref-active="active">
          <a ui-sref="app.home">HOME<span class="sr-only">(current)</span></a>
        </li>

        <li ng-if="false" ui-sref-active="active">
          <a ui-sref="app.api"  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">API<span class="sr-only">(current)</span></a>
        </li>

        <li ng-if="!autenticato"  ui-sref-active="active">

        

        <a ng-if="false"  ui-sref="app.login" class="btn btn-link pull-right" type="button"  >
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        </a>

        </li>


        <li ng-if="autenticato" ui-sref-active="active">
        <a ui-sref="app.settings" class="btn btn-link pull-right" type="button"  >
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

